@import "../variables";

.passive-favorite {
    fill: $grey_txt;
}

.active-favorite {
    fill: $orange;
}


#favorites {
    margin: 0 25px;
    transition: transform .7s ease-out;
}

#star-main:hover #favorites{
    transform: rotate(360deg);
}

#star-main {
    position: relative;
}

#star-main:hover .fav-summary {
    transform: scale(1.2) translateX(8px) translateY(7px);
}

.fav-summary {
    color: $orange;
    position: absolute;
    top: -1rem;
    right: 1.5rem;
    transition: transform .5s ease-out;
}
