@import "../variables";

.row {
  grid-gap: 20px;
  justify-content: center;
}

.img-card {
  margin: 15px auto;
  width: 60%;
}

.bold {
  font-weight: 600;
  text-transform: capitalize;
}

.btn {
  margin: 0 5px;
}

.card {
  padding: 15px;
  position: relative;
  height: auto;
}

.list-group {
  margin: 7px 0;
}

.hide-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.hide-container .btn-passive {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.articleId {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: $grey_txt;
  font-size: medium;
  font-weight: 600;
  margin-top: -40px;
}

.price {
  text-decoration: double;
}

.btn-passive {
  color: $purple_btn !important;
  border-color: $purple_btn !important;
}

.price-regular {
  color: $main_lime;
}

.price-container {
  position: relative;
  left: 0;
  bottom: 0;
}

.in-modal .img-card {
    width: 35%;
  }

.category {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 3;
  color: $grey_txt;
  text-transform: uppercase;
}

.in-list {
  box-shadow:  rgba(10, 37, 64, 0.35) 0px -2px 4px 0px inset;
  display: flex;
  justify-content: center;
}

.in-list:hover {
  border: 1px solid $purple_btn;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.product-full-bottom {
  display: flex!important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.favorite-on-product {
  position: absolute;
  top: 7px;
  left: 10px;
}

.fav-container {
  display: flex;
  justify-content: space-between;
}

.productList-body {
  display: flex;
  flex-direction: row;
}

.productList-image {
  height: 80px;
  margin: 0 20px;
}

.productList-price-desc {
  display: flex;
  flex-direction: column;
}

.product-list-btn {
  width: 100%;
  text-align: right;
}

.btn-lime {
  color: $lime_dark !important;
  border-color: $lime_dark !important;
  --bs-btn-hover-bg: rgba(84, 169, 10, 0.69);
  --bs-btn-active-bg: rgba(84, 169, 10, 0.95);
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-border-color: rgba(84, 169, 10, 0.87);

  &:hover {
    color: #fff !important;
  }
}