@import "../../components/variables";

#cart-main {
  position: relative;
}

#cart {
  margin-right: 25px;
  cursor: pointer;
  transition: all .4s ease-out;
}

#cart-main:hover  #cart{
  transform: translateX(8px);
}

.cart-summary {
  color: $orange;
  position: absolute;
  top: -1rem;
  right: 1rem;
  transition: all .4s ease-out;
}

#cart-main:hover .cart-summary {
  transform: scale(1.2) translateX(-7px) translateY(3px) rotate(-70deg) ;
}

.title {
  color: white;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.28);
  font-family: 'Pacifico', cursive;
  font-size: 38px;
  text-align: center;
}

.cart-image {
  width: 130px;
  height: auto;
}

.cart-list {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 25px;
}

.category-title {
  text-transform: uppercase;
  color: $bg_grey;
}

.vstack {
  padding-bottom: 25px;
}

.hstack {
  padding: 10px;
}
.checkout-btn {
  width: 170px;
}

.product-remover {
   width: 50px;
   height: 100%;
}

.cart-title {
  background: rgba(236, 218, 194, 0.36);
  font-weight: bold;
}

.sub-total {
  position: relative;
  font-weight: bold;
  margin: 20px;
  padding: 7px;
  background: #fff;
}

.sub-total:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 50%;
  background:$main_lime;
}


.sub-total:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 50%;
  background:$main_lime;
}

.empty-cart {
  width: 100%;
  height: 100hv;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}
