@import "../variables";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .sign-in {
    color: white;
  }

  .error {
    top: -25px !important;
    left: 25px !important;
  }

  .eye {
    position: relative;
    top: -55px;
    right: -93%;
    width: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  .forget-link {
    font-style: italic;
    text-align: right;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .sign-up-link {
    font-style: italic;
    text-align: right;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .error {
    color: $blue;
    font-style: italic;
    position: relative;
    top: -10px;
    right: 0;
  }

}

.login {
  background: $lightblue;
  text-align: center;
}

.form-field {
  height: 35px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
  border: 1px solid $grey_txt !important;
  border-radius: 5px;
  width: 100%;
}

.input-container {
  width: 100%;
  border: 1px solid black;
}

.reg-form {
  margin: 0 auto;
  display: flex;
  width: auto;
  flex-direction: column;

  .btn-lime {
    margin: 0;

  }
}

.header {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin: 50px auto 20px auto;
  color: $grey_txt;
}

#root {
  background: $bg_grey;
}

  .error {
    color: $orange;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    bottom: 8px;
    left: 20px;
  }

.form-check-input:checked {
  background-color: $main_lime !important;
  border-color: $lime_dark !important;
}

.page {
  .form-block {
    padding: 25px;
    border: 2px ridge $grey_txt;
    border-radius: 5px;
    box-sizing: border-box;
    background: $bg_form;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    legend {
      font-family: 'Pacifico', cursive;
      color: $grey_txt;
      font-size: 28px;
      font-weight: 400;
      float: none;
      width: auto;
      text-align: left;
      text-shadow: 3px 1px 3px #fff;
      text-decoration: underline;
    }

    .form-item {
      display: block;
      width: 100%;
    }

    .form-label {
      text-align: left;
    }
  }
  &:hover .form-block {
      transition: all .25s ease-in .5s;
      border-color: $border_hover;
  }

  &:hover legend {
    transition: all .25s ease-in .5s;
    color: rgba(147, 113, 3, 0.82);
  }

  .btn-center {
    display: flex;
    justify-content: center;
  }

 .col {
   position: relative;
 }

  .title-small {
    color: $grey_txt;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &:before {
      content: "";
      width: 155px;
      height: 1px;
      background: $grey_txt;
      position: absolute;
      top: 12px;
      left: 0
    }

    &:after {
      content: "";
      width: 155px;
      height: 1px;
      background: $grey_txt;
      position: absolute;
      top: 12px;
      right: 0;
    }
  }
}