@import "../variables";

.main {
  background: $bg_grey;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}

.title {
  color: $grey_txt;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.28);
  font-family: 'Pacifico', cursive;
  font-size: 38px;
  text-align: center;
  text-transform: capitalize;
}

.title-sm {
  color: rgba(26, 29, 32, 0.57);
}

.column-static {
  text-align: right;
  width: 45%;
  list-style-type: none;
  font-weight: 500;
}

.thank-msg {
  color: $grey_txt;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.28);
  font-family: 'Pacifico', cursive;
  text-align: right;
}

.form-block {
  padding: 25px;
  border: 2px ridge $main_lime;
  border-radius: 5px;
  box-sizing: border-box;
  background: $bg_form;

}

.checkout {
  display: flex;
  flex-direction: row;
}

.arrow-txt {
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: rgba(82, 82, 82, 0.95);
  }
}

.go-foward {
  margin-top: 30px;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
}

.page_404{
  background:#fff;
  width:100%;
}

.four_zero_four_bg{
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four{
  font-size:80px;
  font-family: 'Arvo', serif;
  text-align: center;
}

.link_404{
  color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}
