.backdrop {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modalka {
    width: 500px;
    background-color: white;
    position: absolute;
    top: 20%;
    left: calc(50% - 250px);
    padding: 15px;

}
