
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.5);
  z-index: 2;
}

.close-button {
  position: absolute;
  top: 6.5rem;
  left: calc(50% + 12.5rem);
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: inherit;
  z-index: 4;
}

.modalHead {
  padding-top: 1px;
  border-radius: 7px 7px 0 0 ;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalFooter {
  display: flex;
  justify-content: space-evenly;
}

.btn-footer {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px
}

.paragraph {
  text-align: center;
}

.in-modal {
  width: 30rem;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform:  translateX(-50%);
  z-index: 3;
  font-size: 16px;
  cursor: default;
}

.product-full {
height: 0;
}