$main_lime: #5fc40a;
$lime_dark: #54A90A;
$bg_grey: rgba(206, 208, 202, 0.52);
$bg_form: rgb(236, 238, 234);
$purple_btn: #cbbfdc;
$blue: #0d6efd;
$purple: rgb(83, 63, 217);
$lightblue: #d9eaf6;
$grey_txt: rgba(82, 82, 82, 0.65);
$border_hover: #bdba08;
$orange: #ec4918;
$dark_orange: #863303;
