@import "../../components/variables";

.navbar {
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 20;

}

.logo-main {
  transition: all .15s ease-in 2s;
}

.btn-lime {
  color: $lime_dark !important;
  border-color: $lime_dark !important;
  --bs-btn-hover-bg: rgba(84, 169, 10, 0.69);
  --bs-btn-active-bg: rgba(84, 169, 10, 0.95);
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: rgba(84, 169, 10, 0.87);
}

.btn-purple {
  color: $blue !important;

  --bs-btn-hover-bg: $blue;
  --bs-btn-active-bg: $blue;
  //--bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #1a49e7;
}

.btn-lime:hover {
  color: #fff !important;
}

.btn-purple:hover{
  border-color: $blue !important;
  //background: rgba(74, 112, 239, 0.52) !important;
}

.form-control:focus {
 border-color: #9234ea !important;
  box-shadow: none !important;
}



