@import "../variables";

.hstack {
  margin: 0 auto;
  background: white;
  //border: 1px solid $purple_btn;
  border-radius: 5px;
  box-shadow:  rgba(10, 37, 64, 0.35) 0px -1px 2px 0px inset;
}

.hstack:hover {
  box-shadow: rgb(38, 57, 77) 0 10px 30px -10px;
}

.fav-image {
  width: auto;
  height: 70px;
}
//.favorite-item {
//  justify-content: space-between;
//}


.categ {
  text-transform: capitalize;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.categ:hover {
  text-decoration-line: underline;
}

.btn-lime {
  color: $lime_dark !important;
  border-color: $lime_dark !important;
  --bs-btn-hover-bg: rgba(84, 169, 10, 0.69);
  --bs-btn-active-bg: rgba(84, 169, 10, 0.95);
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: rgba(84, 169, 10, 0.87);
  margin: 0 15px;
}

.btn-lime:hover {
  color: white !important;
}

.close-favItem {
  position: relative;
  width: 28px;
  height: 3px;
  border-radius: 50%;
  rotate: 45deg;
  background: $dark_orange;
}

.close-favItem:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 28px;
  height: 3px;
  border-radius: 50%;
  rotate: 90deg;
  background: $dark_orange;
}

.price-area {
  min-width: 70px;
  background: rgba(236, 218, 194, 0.36);
  font-weight: bold;
}

.favorite-list {
  margin: 0 auto;
  width: 80%;
}

.close-btn-container {
  width: 40px;
}
