

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&family=Pacifico&display=swap');

.App {
  text-align: center;
}

.page-container {
  background-color: rgba(206, 208, 202, 0.52);
  padding: 100px 0 20px 0;
  height: 100%;
}

.container {
  min-height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}